services:
  open-webui:
    container_name: open-webui
    image: ${OWUI_IMAGE}
    volumes:
      - /opt/data/open-webui:/app/backend/data
      - /opt/data/docs:/data/docs
    ports:
      - ${OPEN_WEBUI_PORT-3000}:8080
    environment:
      - WEBUI_AUTH=False
      - ENABLE_OLLAMA_API=False
      - WEBUI_SECRET_KEY=Sup3rS3cr3t!
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped
    env_file:
      - .env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['${EMBEDDING_MS_GPU_ID:-0}']
              capabilities: [gpu]
volumes:
  webui_data:
